# Lineendings
*.sln       eol=crlf
*.vcproj    eol=crlf
*.vcxproj*  eol=crlf
*.bat 		eol=crlf

*.sh        eol=lf

# Whitespace rules
# strict (no trailing, no tabs)
*.cpp       whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.hpp       whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.c         whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
*.h         whitespace=trailing-space,space-before-tab,tab-in-indent,cr-at-eol
