[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest
	branch = release-1.6.0
[submodule "third_party/gflags"]
	path = third_party/gflags
	url = https://github.com/gflags/gflags
[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/google/protobuf
[submodule "third_party/glog"]
	path = third_party/glog
	url = https://github.com/google/glog
[submodule "third_party/leveldb"]
	path = third_party/leveldb
	url = https://github.com/google/leveldb
[submodule "third_party/gmock"]
	path = third_party/gmock
	url = https://github.com/google/googlemock
